<div class="modal fade px-0" id="modal_area" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog mx-0 px-0" role="document" style="min-width: 100%;">
    <div class="modal-content" style="max-width: 980px; margin: 0 auto;">
    </div>
  </div>
</div>
<script>
$(function () {
  <%# 任意のリンクをモーダル内に読み込む %>
  $('#modal_area').on("show.bs.modal", function(e) {
    var link = $(e.relatedTarget); <%# クリックしたセルのオブジェクトデータ %>
    $(this).find(".modal-content").load(link.attr("data-href"));
  });
});

<%# キーボードでモーダルウィンドウを次へ行ったり前へ行ったりするコード %>
$(window).keyup(function(e){
  if($('#modal_area').is(':visible')) {
    if(e.keyCode == 37){
      $(".swiper-slide-active .prev_link")[0].click();

    }
    if(e.keyCode == 39){
      $(".swiper-slide-active .next_link")[0].click();
    } 
  }
});
</script>