<div class="modal fade px-0" id="modal_area" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog mx-0 px-0" role="document" style="min-width: 100%;">
    <div class="modal-content" style="max-width: 980px; margin: 0 auto;">
    </div>
  </div>
</div>
<script>
$(function () {
  <%# 任意のリンクをモーダル内に読み込む %>
  $('#modal_area').on("show.bs.modal", function(e) {
    var link = $(e.relatedTarget); <%# クリックしたセルのオブジェクトデータ %>
    $(this).find(".modal-content").load(link.attr("data-href"));
  });

  <%# モーダルウィンドウを閉じる時swiperを破棄する(破棄しておかないと次にswiperを開いた時画面表示がおかしくなる為) %>
  $('#modal_area').on('hidden.bs.modal', function () {
    $("#modal_picture_show").remove();
    swiper.destroy();
  })
});

$(document).on('turbolinks:load', function() {
  //ブラウザの戻るで戻った場合コンテンツが削除されているので、リロードする
  if($('#top_contents').length == false && $('#modal_area').length) {
    location.reload();
    console.log("reload");
  }
});
</script>