<div class="news">
  <% @pictures.each.with_index(1) do |picture, i| %>
    <div class="square-wrapper">
      <div class="spacer">
        <%= link_to(image_tag(picture.url + 'media/?size=m', onError: "img_blank(#{picture.id})", alt: '画像読み込みエラー'), '', data: { href: picture_path(picture), toggle: 'modal', target: "#modal_area"}) %>
      </div>
    </div>
  <% end -%>
</div>