<div class="news">
  <% length = @pictures.length %>
  <% @pictures.each.with_index do |picture, i| %>
    <div class="square-wrapper">
      <div class="spacer">
        <% prev_id = (i - 1 < 0) ? nil : @pictures[i - 1].id %>
        <% next_id = (i + 1 >= length) ? nil : @pictures[i + 1].id %>
        <div id="prev_next_<%= picture.id %>" style="display: none;">
          <span class="_prev"><%= prev_id %></span>
          <span class="_next"><%= next_id %></span>
        </div>
        <%= link_to(image_tag(picture.url + 'media/?size=m',
              onError: "img_blank(#{picture.id})",
              alt: '画像読み込みエラー'),
              '',
              data: { href: picture_path(picture,
                  prev_id: prev_id,
                  next_id: next_id),
                toggle: 'modal',
                target: "#modal_area"}) %>
      </div>
    </div>
  <% end -%>
</div>