<div class="rankings_area">
  <h2>10回の投票履歴</h2>

  <div class="top_button_area" >
    <%= link_to(root_path) do  %>
      <div class="conflict_link">
        <p>トップへ戻る</p>
      </div>
    <% end -%>
  </div>

  <p class="show_guide_text">画像をクリックすると詳細が見れます</p>

  <% @pictures.each.with_index(1) do |picture, i| %>
    <div class="result_picture_area">
      <%= link_to(image_tag(picture.url + 'media/?size=t'), picture_path(picture)) %>
      <%= render 'likes/like', picture: picture %>
    </div>
  <% end -%>

  <div class="top_button_area" >
    <%= link_to(root_path) do  %>
      <div class="conflict_link">
        <p>トップへ戻る</p>
      </div>
    <% end -%>
  </div>
</div>