<!-- Swiper -->
<div class="swiper-container">
  <ul class="swiper-wrapper">
<!--     <li id="prev_picture" class="swiper-slide">
      <%#= render 'show_modal_picture_area', picture: @picture %>
    </li> -->

    <li id="current_picture" class="swiper-slide">
      <%= render 'show_modal_picture_area', picture: @picture %>
    </li>

<!--     <li id="next_picture" class="swiper-slide">
      <%#= render 'show_modal_picture_area', picture: @picture %>
    </li> -->
  </ul>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<span id="prev_id">0</span>
<span id="next_id">0</span>

<script>
  var swiper = new Swiper('.swiper-container', {
    initialSlide: 1,
    observer: true,
    observeParents: true,
    keyboard: {
      enabled: true,
      onlyInViewport: false,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  <%# swiper移動時のイベント %>
  swiper.on('reachBeginning', function() {
    prev = $("#prev_id").text();

    $.ajax({
      url: "/pictures/prev_add",
      type: "get",
      data: {prev: prev},
      dataType: "script",
      success: function(data) {
      },
      error: function(data) {
      }
    });
  });

  swiper.on('reachEnd', function() {
    next = $("#next_id").text();

    $.ajax({
      url: "/pictures/next_add",
      type: "get",
      data: {next: next},
      dataType: "script",
      success: function(data) {
      },
      error: function(data) {
      }
    });
  });
</script>