<div class="swiper-container">
  <ul class="swiper-wrapper">

    <% if @prev_picture.present? %>
      <li id="prev_picture" class="swiper-slide"></li>
    <% end -%>

    <li id="current_picture" class="swiper-slide">
      <%= render 'show_detail', picture: @picture, number: 1 %>
    </li>

    <% if @next_picture.present? %>
      <li id="next_picture" class="swiper-slide"></li>
    <% end -%>

  </ul>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<div style="display:none;">
  <span id="prev_id">0</span>
  <span id="next_id">0</span>
</div>

<script>
  var swiper = new Swiper('.swiper-container', {
    initialSlide: 0,
    observer: true,
    observeParents: true,
    autoHeight: true,
    // preventIntercationOnTransition: true,
    keyboard: {
      enabled: true,
      onlyInViewport: false,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  //モーダル移動したら一番上にスクロールする
  swiper.on('slideChangeTransitionStart', function() {
    $("#modal_area").stop();
    $('#modal_area').animate({scrollTop: 0}, 300, 'swing');
  });

  $('#current_picture .current_picture_area img').ready(function() {
    <% if @prev_picture.present? %>
      $("#prev_picture").html("<%= escape_javascript(render 'show_detail', picture: @prev_picture, number: 0) %>");
      swiper.slideNext(0, false);
      swiper.update();
    <% end -%>
    <% if @next_picture.present? %>
      $("#next_picture").html("<%= escape_javascript(render 'show_detail', picture: @next_picture, number: 2) %>");
      swiper.update();
    <% end -%>
  });


  <%# swiperが移動終了した時のイベント %>
  swiper.on('slideChangeTransitionEnd', function() {
    <%# swiperが移動した後、画像の大きさにwindowを合わせる為にupdateする %>
    swiper.update();

    if(swiper.isBeginning) {
      prev = $("#prev_id").text();
      if(prev != "") {
        $.ajax({
          url: "/pictures/prev_add",
          type: "get",
          data: {prev: prev},
          dataType: "script",
          success: function(data) {
            swiper.allowSlidePrev = false;
            $('.swiper-button-prev').removeClass('swiper-button-prev').addClass('ajax_loading_left');
            setTimeout(function(){
              swiper.allowSlidePrev = true;
              swiper.update();
              $('.ajax_loading_left').removeClass('ajax_loading_left').addClass('swiper-button-prev');
            },1000);
          },
          error: function(data) {
          }
        });
      }
    }

    if(swiper.isEnd) {
      next = $("#next_id").text();
      if(next != "") {
        $.ajax({
          url: "/pictures/next_add",
          type: "get",
          data: {next: next},
          dataType: "script",
          success: function(data) {
            swiper.allowSlideNext = false;
            $('.swiper-button-next').removeClass('swiper-button-next').addClass('ajax_loading_right');
            setTimeout(function(){
              swiper.allowSlideNext = true;
              swiper.update();
              $('.ajax_loading_right').removeClass('ajax_loading_right').addClass('swiper-button-next');
            },1000);
          },
          error: function(data) {
          }
        });
      } 
    }
  });
</script>