<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Back', pictures_path %>
</div>

<div class="embed">
  <iframe src="<%= @picture.url.gsub(/https:|www./, 'https:' => '', 'www.' => '') %>embed/" frameborder="1" scrolling="no" allowtransparency="true"></iframe>
</div>