<div id="top_contents">
  <%= render 'follows/followers_list', followers: @followers %>
</div>

<div class="navigation" style="display: none;">
  <%= paginate @followers %>
  <%# infinite_scrollでの無限スクロールではリンクパラメータの最後がページ番号でないといけない為、ページ番号の後のパラメータを削除するjs %>
  <script>
    $(".navigation a[rel=next]")[0]['href'] = $(".navigation a[rel=next]")[0]['href'].replace(/&utf.*/,"");
  </script>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    //ブラウザの戻るで戻った場合コンテンツが削除されているので、リロードする
    if($('#top_contents').length == false) {
      location.reload();
    }
  });
</script>

<%= render 'follows/infinite_scroll', followers: @followers, read_class: '.followers_area' %>