<div class="followers_area">
  <% @followers.each do |follower| %>
    <div class="follower_area">
      <%= link_to user_path(follower.stylist.id) do %>
        <div class="picture_area">
          <%= image_tag(user_image_display(path: follower.stylist.picture, size: "m", dir: 'PROFILE_PICTURE_DIR')) %>
        </div>
        <div class="text_area">
          <p class="name"><%= follower.stylist.name %></p>
        </div>
      <% end -%>
      <% if current_user.id == follower.user.id %>
        <%= link_to stop_follow_follow_path(id: follower.stylist.id) do %>
          <P class="un_follow_button">フォローをやめる</P>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>
</div>