// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_text_area {
  max-width: 500px;
  margin: 0 auto;
}

.picture_show_stylist_profile_area {
  margin: 15px 0;
  .stylist_name,
  .shop_name {
    font-size: 16px;
    font-weight: bold;
  }
  .profile p {
    font-size: 14px;
  }
  .shop_area {
    margin: 15px 0;
  }
}
.show_picture_area {
  /*width: 100%;*/
  position: relative;
  height: auto;
  min-height: 100%;
  text-align: center;
}
.show_picture {
  max-width: 100%;
  max-height: 875px;
}
.next_picture {
  text-align: center;
}
.next_picture1,
.next_picture2 {
  max-width: 50px;
}
.rankings_area {
  text-align: center;
}