// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.embed {
  position: relative;
  width: 100%;
  text-align: center;
}
.embed:before {
  content:"";
  display: block;
  padding-top: 113.19%; /*iframeのアスペクト比*/
}
.embed iframe{
  $width: 750px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: $width;
  max-height: $width * 1.16;
}