// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin_users {
  border-bottom: 1px solid black;
  p {
    margin: 0;
  }
}
.stylist_show img {
  max-width: 100%;
}

.user_errors_area {
  h2, li, p {
    color: red;
  }
}